Flask==2.0.2
Flask-Cors==3.2.1
instagrapi==1.0.8
aiohttp==3.7.4
aiofiles==0.7.0
asyncio==3.4.3
attrs==21.2.0
idna==3.3
pycryptodome==3.12.0
pydantic==1.10
pytz==2021.3
ujson==4.2.0
uvloop==0.17.1
cchardet==2.1.7





